@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,100);

body {
  font-family: 'Roboto Mono';
  font-size: 14px;
}

body h2 {
  font-size: 20px;
  font-weight: normal;
  /*margin: 0;*/
}

body h3 {
  font-size: 18px;
  font-weight: normal;
  /*margin: 0;*/
}

.row{
  margin-top: 1em;
}

.navbar {
  font-size:24px;
}

.social-icons a {
  color: black;
  text-decoration: none;
}

.social-icons a:hover{
  color: grey;
}

#spenden {
  background-color: #f5f5f5;
  border: 2px solid #e8e8e8;
}

.mailchimp-form {
  border: 2px solid #e8e8e8;
}

.kontodaten {
	margin-top: 4em;
}

.kontodaten p{
	margin-bottom: 0;
}

#kandidatur {
  margin-top: 1em;
  margin-left: 1em;
}

.footer .row{
  border-top: 1px solid #e8e8e8;
  margin-top: 1em;
}

## Liste KandidatInnen

.people h2{

}

.people a {
  color: #212529;
}

.people h3{
  font-size: 1em;
}

.lastname {
  text-transform: uppercase;
  font-weight: bolder;
}

.themen, .listen{
  padding-left:1em;
}

.hp-themen div{
  border: 1px solid grey;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 0.5em;
}

.hp-themen p {
  margin-bottom: 0.5em;
}

.hp-themen h2 i {
  margin-right: 0.5em;
}

.hp-themen h3{
  margin-top: 1em;
}
