@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,100);

body {
  font-family: 'Roboto Mono';
  font-size: 16px;
}

body h2 {
  font-size: 25px;
}

#social-icons i {
  font-size:36px;
  color: black;
}

#social-icons i:hover{
  color: grey;
}

#spenden {
  background-color: #f5f5f5;
  border: 2px solid #e8e8e8;
}

.mailchimp-form {
  border: 2px solid #e8e8e8;
}

.kontodaten {
	margin-top: 2em;
}

.kontodaten p{
	margin-bottom: 0;
}