<div class="col-xs-12 col-md-6 mb-3">
  <a href="/personen/{{ .Params.vorname  }}-{{ .Params.nachname  }}">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <img src="/assets/images/portraits/medium/{{ .Params.nachname }}.jpg">
      </div>
      <div class="col-xs-12 col-md-8 pl-0">
        <h2>{{ title .Params.vorname }} <strong class="lastname">{{ title (replace .Params.nachname "-" " ") }}</strong></h2>
        <p><strong>Liste:</strong> {{ title (delimit .Params.listen ",") }}</p>
        <ul class="themen">
          {{ range .Params.themen }}
          <li>{{ title . }}</li>
          {{ end }}
        </ul>
      </div>
    </div>
  </a>
</div>