<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-4 about">
      <img src="/assets/images/people/peter_pilz_handschlag.jpg" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-8">
      <h2>Über Peter Pilz</h2>
      <p><strong>Peter Pilz</strong> steht seit Jahrzenten für eine saubere Politik und gegen Korruption und Machtmissbrauch.</p><p>Als Aufdecker hat er unter anderem an den Lucona, Noricum und Eurofighter Skandalen gearbeitet, als auch die Netzwerke von türkisch oder saudi-arabischen Vereinen in Österreich aufgedeckt.</p>
      <p>Jetzt tritt er zusammen mit <a href="/listen/spitze/">erfahrenen Personen</a> an um unsere Demokratie weiterhin zu verteidigen, Machtmissbrauch und Korruption keine Chance zu geben und für eine fairere Verteilung in unserer Gesellschaft zu sorgen.</p>
    </div>
  </div>
  <div class="row hp-themen">
    <div class="col-xs-12 col-md-12 ml-3 mr-3">
      <h2><i class="fa fa-shield" aria-hidden="true"></i>Verteidigung unserer Demokratie</h2>
      <p>Unsere Demokratie wird von unterschiedlichen Seiten angegriffen. Nur ein entschiedenes Vorgehen dagegen schützt Sie für die Zukunft und würdigt die Arbeit der vergangenen Generation im Aufbau unserer Demokratie.</p>
      <h3>Der politische Islam</h3>
      <p>Unter dem Deckmantel der Religion versuchen <strong>Erdogan</strong> und <strong>Saudi-Arabien</strong> unsere Demokratie zu untergraben und hier lebende Muslime zu ihren Zwecken zu nutzen. Das ist weder für Österreich noch für die österreichischen Muslime hinnehmbar und wir werden das unterbinden.</p>
      <h3>Nationalisten</h3>
      <p>Von Ungarn über Polen kann man beobachten wie die Demokratie von nationalistischen Parteien mit Füßen getreten wird. Die Justiz wird ausgehebelt, Medien gleichgeschalten und alles nur um ein paar Parteileuten die Macht zu sichern. Die Institutionen die über Jahrzehnte mit viel Schweiß verschiedener Generationen aufgebaut wurden sollen jetzt beschädigt werden? Nicht mit uns!</p>
      <h3>Staatliche Akteuere</h3>
      <p>Der Vorschlag zum Sicherheitspaket von Innenminister Sobotka hat nur nochmals bewiesen dass wir unsere Demokratie auch nach innen verteidigen müssen. Die totale Überwachung ist nicht nur ein direkter Angriff auf unsere Demokratie, sondern auch nutzlos für den Kampf gegen Terrorismus und Verbrechen.</p>
    </div>
    <div class="col-xs-12 col-md-12 ml-3 mr-3">
      <h2><i class="fa fa-university" aria-hidden="true"></i>Gegen Korruption und Machtmissbrauch</h2>
      <p>Korruption und Machtmissbrauch untergraben unser schönes Land und Kosten uns Milliarden.</p>
      <p>Es kann nicht sein dass auf der einen Seite Milliarden für Eurofighter, Hypo und Buwog Skandale ausgegeben werden und gleichzeitig dann kein Geld mehr für alle anderen in unserer Gesellschaft da ist.</p>
      <p>Korruption kostet viel Geld und beschädigt unser schönes Land nachhaltig. Peter Pilz hat dabei nicht nur viel Erfahrung im Aufdecken sondern auch Zudrehen der Möglichkeiten für Korruption. Deswegen werden wir uns für mehr Transparenz in Parteien und Verwaltung, als auch stärkere Bestrafung für überführte Korruption einsetzen. Politik und Verwaltung haben mit gutem Beispiel voran zu gehen und müssen extra hart bestraft werden wenn sie das nicht tun.</p>
    </div>
    <div class="col-xs-12 col-md-12 ml-3 mr-3">
      <h2><i class="fa fa-users" aria-hidden="true"></i>Für eine gerechte Verteilung</h2>
      <p>Österreich ist nicht nur ein wunderschönes, sondern auch reiches Land. Viel von dem Reichtum kommt aber bei der Mehrheit die hart arbeitet und ihn sich verdient hat nicht an. Riesige Vermögen werden gebunkert ohne einen fairen Anteil, den wir alle ständig zu leisten haben, zu zahlen.</p>
      <p><strong>Damit muss Schluss sein</strong>, alle haben Ihren fairen Teil beizutragen, auch die Reichsten und Vermögenden im Land.</p>
    </div>
  </div>
</div>
</div>