<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <img src="/assets/images/people/peter_pilz_handschlag.jpg" class=" col-xs-12 col-sm-12 col-md-5 mb-3 pl-0 float-left">
  <h2>Über die Liste Pilz</h2>
  <p>Viele regieren. Einer kontrolliert. Das ist Peter Pilz.</p>
  <p>Seit Jahrzehnten können sich die Menschen drauf verlassen: Mit Pilz im Parlament funktioniert die Kontrolle: von Lucona bis Eurofighter, von Noricum bis Telekom.</p>
  <p>Das Parlament hat drei Aufgaben: Gesetzgebung, die Erstellung des Budgets und die Kontrolle von Regierung und Verwaltung. Diesmal droht wieder eine Regierung mit Beteiligung der FPÖ. Da braucht Macht eine besonders starke Kontrolle. Mit Peter Pilz und seiner Liste.</p>
</div>

<div id="hp-themen">
  <div class="card w-100" >
    <a class="collapsed" data-toggle="collapse" href="#korruption-body" aria-expanded="false" aria-controls="korruption-body">
      <div class="card-header mb-0">
        <h2 class="card-title"><i class="fa fa-university" aria-hidden="true"></i>Vertrauen ist gut. Kontrolle ist besser.</h2>
        <p>BUWOG, Telekom, Hypo Alpe Adria; Eurofighter – seit der schwarz-blauen Machtübernahme im Jahr 2000 hat Korruption die österreichischen Steuerzahler mehr als 20 Milliarden Euro gekostet.</p>
      </div>
    </a>
    <div class="card-body collapse" id="korruption-body">
      <p>Aber Korruption ist mehr als das Verschwinden von Steuermilliarden in schwarzen, blauen und roten Kanälen. Sie ist Gift für das Vertrauen in die Politik.</p>
      <p>Wenn sich die Menschen nicht mehr auf ihre Politiker verlassen können, wenden sie sich von der Politik ab. So zerstört Korruption die Grundlagen unserer Demokratie.</p>
      <p>Mit der Liste Pilz wollen wir dieses Vertrauen zurückgewinnen.</p>
    </div>
  </div>
  <div class="card w-100">
    <a class="collapsed" data-toggle="collapse" href="#verteidigung-body" aria-expanded="false" aria-controls="verteidigung-body">
      <div class="card-header">
        <h2 class="card-title"><i class="fa fa-shield" aria-hidden="true"></i>Wir verteidigen unsere Heimat Österreich</h2>
        <p>Unsere Heimat Österreich ist unsere offene Gesellschaft: unsere Gleichberechtigung von Frauen und Männern; unsere Trennung von Religion und Staat; unsere unabhängige Justiz; unsere Medienfreiheit; und unsere Demokratie.</p>
      </div>
    </a>
    <div class="card-body collapse" id="verteidigung-body">
      <p>Unsere offene Gesellschaft wird von drei Seiten angegriffen:</p>
      <ul>
        <li><strong>von der extremen Rechten</strong>, die Europa mit neuen Grenzzäunen zerreißen und letztlich zerstören will</li>
        <li><strong>vom politischen Islam</strong>, der unter den Augen des Innenministers im Auftrag von Erdogan und Saudi Arabien seine Brückenköpfe mitten in Österreich baut</li>
        <li><strong>und von einem Innenminister</strong>, der statt der Extremisten uns alle überwachen will</li>
      </ul>
      <p>Die extreme Rechte und den Minister können wir abwählen. Aber der politische Islam stellt sich keiner Wahl. Für ihn ist kein Platz in unserem Österreich. Von Kindergärten und Schulen bis in Erdogans Moscheeverbände müssen wir ihn mit allen Mitteln unseres Rechtsstaats bekämpfen.</p>
    </div>
  </div>
  <div class="card w-100">
    <a class="collapsed" data-toggle="collapse" href="#verteilung-body" aria-expanded="false" aria-controls="verteilung-body">
      <div class="card-header">
        <h2 class="card-title"><i class="fa fa-users" aria-hidden="true"></i>Wir sorgen für Gerechtigkeit</h2>
        <p>Unser Frieden hat eine starke Basis: den sozialen Zusammenhalt. Zwei Jahrzehnte neoliberaler Gier haben hier viel zerstört. Die Politik muss sich ändern und statt für die Banken wieder für die Menschen da sein.</p>
      </div>
    </a>
    <div class="card-body collapse"  id="verteilung-body">
      <p>Mehr Gerechtigkeit – das ist der Schlüssel zu einer friedlichen Zukunft in Europa. Wir verteilen um – Arbeit, Einkommen und Lebenschancen. Wir sorgen dafür, dass alleinerziehende Mütter mit ihren Kindern nicht vor der Armutsfalle stehen. Wir schaffen Sicherheit auch am Beginn des Arbeitslebens und später, wenn es um Pension und Pflege geht. Die Mittel sind da. Es fehlt nur an der Politik, die für die Menschen eintritt.</p>
      <p>Österreich ist eines der schönsten und reichsten Länder der Welt. Wir können zeigen, wie es geht. Von der Schulreform bis zum Ausbau der Pflege; von der gerechten Steuerpolitik bis zur Bekämpfung der Korruption; von der Integration aller Menschen bis zum erfolgreichen Kampf gegen Extremismus – wir zeigen: Ja, es geht!</p>
    </div>
  </div>
</div>