<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/J152buRRlK4" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-xs-12 col-md-5 ml-auto pt-4" id="spenden">
      <h2>UNTERSTÜTZE DIE LISTE PILZ MIT DEINER SPENDE</h2>
      <p>FÜR TRANSPARENZ IN DER ÖSTERREICHISCHEN POLITIK</p>
      <section class="kontodaten">
        <p>Bank Austria</p>
        <p>IBAN: <strong>AT97 1200 0100 2116 3778</strong></p>
        <p>BIC: <strong>BKAUATWW</strong></p>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 mt-4">
      <h2>ES GEHT LOS?</h2>
      <p>Viele haben uns in den letzten Wochen geschrieben, gemailt und gesagt: „Wir wollen etwas Neues. Wenn ihr kandidiert, haben wir wieder eine Wahl. Tut es!“</p>
      <p>Jetzt ist es klar: Wir treten an. Gemeinsam – als „Liste Pilz“.</p>
      <p>Wir Kandidatinnen und Kandidaten sind die Programme unserer Liste. Für alleinerziehende Frauen und gegen Kinderarmut, für Konsumentenschutz und Tierschutz, für Startups und gegen Konzernprivilegien, für Informationsfreiheit und gegen Überwachungsstaat, für eine faire Umverteilung von Arbeit, Einkommen und Lebenschancen, endlich wieder in die richtige Richtung, von oben nach unten.</p>
      <p>Und für unsere Heimat Europa – unsere Grundrechte von Meinungsfreiheit bis Pressefreiheit, die Gleichberechtigung von Frauen und Männern, unsere unabhängige Justiz, die Trennung von Religion und Staat, unsere Demokratie und vor allem: unser Recht, so zu leben wie wir wollen.</p>
      <p>Und damit gegen die, die das gefährden: die nationalistische Rechte und der politische Islam.</p>
      <p>Wir wollen gemeinsam zeigen, wie wir vom Parlament aus eines der chancenreichsten Länder erneuern und die politische Erstarrung überwinden.</p>
      <p>Gemeinsam mit euch!</p>
    </div>
    <div class="col-xs-12 col-md-5 ml-auto mailchimp-form">
      <div id="kandidatur">
        <h2>Ja, es geht! Ich möchte für die Liste Pilz aktiv werden!</h2>
        <p>Hier eintragen: <a href="https://eepurl.com/cYfHfL">Formular für freiwillige MitarbeiterInnen</a></p>
      </div>
      <div id="mc_embed_signup">
        <form action="//listepilz.us16.list-manage.com/subscribe/post?u=55dc952064d5f64aef9d4b775&amp;id=d7ef53df4e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <h2>Willst du / Wollen Sie weitere Informationen?</h2>
            <div class="indicates-required"><span class="asterisk">*</span> kennzeichnet benötigte Felder</div>
            <div class="mc-field-group">
              <label for="mce-EMAIL">Email  <span class="asterisk">*</span>
              </label>
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div class="mc-field-group">
              <label for="mce-FNAME">Vorname  <span class="asterisk">*</span>
              </label>
              <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
            </div>
            <div class="mc-field-group">
              <label for="mce-LNAME">Nachname  <span class="asterisk">*</span>
              </label>
              <input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
            </div>
            <div class="mc-field-group">
              <label for="mce-PLZ">PLZ </label>
              <input type="text" value="" name="PLZ" class="" id="mce-PLZ">
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_55dc952064d5f64aef9d4b775_d7ef53df4e" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Haltet mich auf dem Laufenden!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
        </form>
      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='PLZ';ftypes[3]='text';fnames[4]='MITHELFEN';ftypes[4]='radio';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      <!--End mc_embed_signup-->
    </div>
  </div>
</div>
</div>