<nav class="navbar navbar-expand-lg navbar-light sticky-top text-dark bg-white">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/listepilz_logo_header.png" alt="Liste Pilz Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="/programm">Programm</a></li>
        <li class="nav-item"><a class="nav-link" href="/listen/spitze">Personen</a></li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com/listepilz.at/">
            <i class="fa fa-facebook-official" alt="Facebook Link" class="d-inline-block align-top"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/peter_pilz">
            <i class="fa fa-twitter" alt="Twitter Link" class="d-inline-block align-top"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>