<nav class="navbar navbar-default">
  <div class="container">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
      <img src="/assets/images/listepilz_logo.png" alt="Liste Pilz Logo">
    </a>
    <div id="social-icons">
      <a href="https://www.facebook.com/listepilz.at/" >
        <i class="fa fa-facebook-official" alt="Facebook Link"></i>
      </a>
      <a href="https://twitter.com/peter_pilz">
        <i class="fa fa-twitter" alt="Twitter Link"></i>
      </a>
    </div>
  </div>
</nav>