{{ partial "head" . }}
<div class="container people">
  <h1>KandidatInnen</h1>
  <p>alphabetisch sortiert</p>
  <div class="row">
    {{ range .Data.Pages }}
    <div class="col-xs-12 col-md-6">
      <h2>{{ title .Params.vorname }} {{ title .Params.nachname }}</h2>
      <a href="{{ .Params.nachname }}">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <img src="/assets/images/portraits/medium/{{ .Params.nachname }}.jpg">
          </div>
          <div class="col-xs-12 col-md-8">
            <h3>Themen</h3>
            <ul>
              {{ range .Params.themen }}
              <li>{{ . }}</li>
              {{ end }}
            </ul>
            <h3>Ziele</h3>
            <ul>
              {{ range .Params.ziele }}
              <li>{{ . }}</li>
              {{ end }}
            </ul>
          </div>
        </div>
      </a>
    </div>
    {{ end }}
  </div>
</div>
{{ partial "foot" . }}
